*{
    box-sizing:border-box;
}
.bg-box{
    margin:0 auto;
    width: 1500px;
    height: 800px;
    background-color:green;
    background-image: url('../img/pole-zelen-trava-dom-derevya.jpg'), url('../img/green-png-44873.png'), url('../img/lamp-png-34914.png'), url('../img/hedgehog2.png'), url('../img/donut.png');
    background-size:50%, 500px, 5%, 7%, 5% ;
    background-position: center, bottom, top, left, right;
    background-repeat: no-repeat , repeat-x, repeat-x, repeat-y,repeat-y;
}